<main>
    <div class="col imgArea">
    <div class="col">
    <div id="son2" class="col-lg">
         <img src="/pictures/banner_main.jpeg">
</div>
    <br>
    <div id="son1" class="col videoArea" style="text-align: center;">
      <br>
      <div id="son2_1" class="d-flex justify-content-center fontTitulo" style="text-align: center;">
        COMEÇE HOJE MESMO COM A APOSTILA QUE IREI LHE PRESENTEAR!<br>
        </div>
      <br>
        <div id="son2_1" class="fontSubTitulo">
          CONHEÇA A MINHA HISTÓRIA, <BR>E VEJA QUE O FATO DE ENTENDER QUEM SOMOS FAZ TODA A DIFERENÇA!
      </div><br>
      <div id="video" class="d-flex justify-content-center"><iframe class="videoSmart" width="710" height="465" src="https://www.youtube.com/embed/axx9aVC5l2c?si=IDOajL75gQqjSKMX&autoplay=1&mute=0&controls=0"></iframe></div>
      <button id="btnDown" onClick="alert('show msg...')" class="btn btn-light buttonFile" type="button" >Quero Minha Apostila Grátis</button><br><br>
    </div>  
  </div>
  <div class="col footArea" style="text-align: center;">
    Catarse I.E, foi desenvolvida para o indivíduo ter alta performace, com base científica nas àreas da Psicologia, Neurociência (pnl) e Filosofia, elevando o nível para plenitude e abundância.<br>
    2025 &copy; Catarseie Copyright Reserved<br><br>
  </div>
  </div>
</main>
    