<main>
    <div class="col imgArea">
    <div class="col">
    <div id="son2" class="col-lg">
         <img src="/pictures/banner_main.jpeg" width="" height="">
</div>
    <br>
    <div id="son1" class="col videoArea" style="text-align: center;">
      <br>
      <div id="video"><iframe width="560" height="315" src="https://www.youtube.com/embed/axx9aVC5l2c?si=KwRUuXMKrHXuV_TU&amp;controls=0&amp;start=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
      <button id="son2_4" class="btn buttonFile">
        Quero Minha apostila grátis</button><br><br>
    </div>  
  </div>
  <div class="col footArea" style="text-align: center;">
    Catarse I.E, foi desenvolvida para o indivíduo ter alta performace, com base científica nas àreas da Psicologia, Neurociência (pnl) e Filosofia, elevando o nível para plenitude e abundância.<br>
    2025 &copy; Catarseie Copyright Reserved<br><br>
  </div>
  </div>
</main>
    